@model PraktyczneKursy.ViewModels.HomeViewModel
@using PraktyczneKursy.Infrastructure

@{
    ViewBag.Title = "Praktyczne Kursy";
}

<nav class="kategorieHorizontal">
    <ul>
        @foreach (var kategoria in Model.Kategorie)
        {
            <li>
                <a href="@Url.Action("Lista", "Kursy", new { nazwaKategori = kategoria.NazwaKategorii.ToLower() })"
                   style="background-image: url(@Url.IkonyKategoriiSciezka(kategoria.NazwaPlikuIkony)); ">
                    @kategoria.NazwaKategorii
                </a>
            </li>
        }
    </ul>

    <a href="@Url.Content("~/")">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var bestseller in Model.Bestsellery)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = bestseller.KursId})">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly", "Kursy", new { id = bestseller.KursId})">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="@Url.ObrazkiSciezka(bestseller.NazwaPlikuObrazka)" />
                        <h1>
                            @bestseller.TytulKursu - @bestseller.AutorKursu
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var nowosc in Model.Nowosci)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = nowosc.KursId})">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly", "Kursy", new { id = nowosc.KursId})">
                        <div class="newFlag"></div>
                        <img class="kurs" src="@Url.ObrazkiSciezka(nowosc.NazwaPlikuObrazka)" />
                        <h1>
                            @nowosc.TytulKursu - @nowosc.AutorKursu
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>



