<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="koszykHeaderLink" href="@Url.Action("Index", "Koszyk")">
                Koszyk (<span id="koszyk-naglowek-ilosc-elementow">@Html.Action("PobierzIloscElementowKoszyka", "Koszyk")</span>)
                <span></span>
            </a>

            @Html.Partial("_LoginPartial")

            <a id="indexHeaderLogo" href="@Url.Content("~/")">
                <img src="@Url.Content("~/Content/Images/logo.png")" class="center" />
            </a>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Onas" })" style="">O nas</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Spolecznosc" })" style="">Spolecznosc</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Opinie" })" style="">Opinie</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Pomoc" })" style="">Pomoc</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Regulamin" })" style="">Regulamin</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Kontakt" })" style="">Kontakt</a></li>
            </ul>
        </nav>
        <div id="footerLogo">
        </div>
        <div id="footerCopyright">
            Copyright &copy; 2016 P. Kursy
        </div>
    </footer>

    @RenderSection("Scripts", required : false)
</body>
</html>