@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ListaKategoriZawartosc">
    @Html.Action("KategorieMenu", "Kursy")

    <div id="KategorieListPrawaSekcja">
        <div id="Breadcrumb">
            <img src="../Content/Images/dommaly.png" />
            @Html.MvcSiteMap().SiteMapPath()
        </div>
        <section class="SekcjaKoszyk">
            <div class="SekcjaHeader" style="margin-bottom: 0px;">
                <h1>
                    @RenderSection("SectionTitle", required: false)
                </h1>
            </div>
            @RenderBody()
        </section>
    </div>
</div>

@section Scripts
{
    @RenderSection("Scripts", required: false)
}
