@model IEnumerable<PraktyczneKursy.Models.Kurs>
@using PraktyczneKursy.Infrastructure

<div id="SekcjaListaKategori">
    <ul class="KursyTrzyKolumny MalaListaKategorii">
        @foreach (var kurs in Model)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = kurs.KursId })">
                        <img src="@Url.Content("~/Content/Images/koszyk.png")" />
                    </a>
                    @if (kurs.Bestseller)
                {
                        <div class="bestsellerFlag"></div>
                    }
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly","Kursy", new { id = kurs.KursId })">
                        <img class="kurs" src="@Url.ObrazkiSciezka(kurs.NazwaPlikuObrazka)" />
                        <h1>
                            @kurs.AutorKursu - @kurs.TytulKursu
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</div>