
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ListaKategoriZawartosc">
    @Html.Action("KategorieMenu")

    <div id="KategorieListPrawaSekcja">
        <div id="Breadcrumb">
            <img src="../Content/Images/dommaly.png" />
            <a href="link">
                @Html.MvcSiteMap().SiteMapPath()
            </a>

            <form id="search-form" method="get" data-ajax="true" data-ajax-target="#SekcjaListaKategori">
                <input id="search-filter" type="search" name="searchQuery"
                       data-autocomplete-source="@Url.Action("KursyPodpowiedzi")"
                       placeholder="Wprowadź tekst, aby wyfiltrować..." />
                <input type="submit" value="" />
            </form>

        </div>
            @Html.Partial("_KursyList")
    </div>
</div>

@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")

<script>
        $(function () {

            var setupAutoComplete = function () {
                var $input = $(this);

                var options =
                    {
                        source: $input.attr("data-autocomplete-source"),
                        select: function (event, ui) {
                            $input = $(this);
                            $input.val(ui.item.label);
                            var $form = $input.parents("form:first");
                            $form.submit();
                        }
                    };

                $input.autocomplete(options);
            };

            var ajaxSubmit = function () {

                var $form = $(this);

                var settings = {
                    data: $(this).serialize(),
                    url: $(this).attr("action"),
                    type: $(this).attr("method")
                };

                $.ajax(settings).done(function (result) {
                    var $targetElement = $($form.data("ajax-target"));
                    var $newContent = $(result);
                    $($targetElement).replaceWith($newContent);
                    $newContent.effect("slide");
                });

                return false;
            };

            $("#search-filter").each(setupAutoComplete);
            $("#search-form").submit(ajaxSubmit);
        });
</script>
}